:root {
  --pcp-orange-color: rgba(247, 147, 29, 1);
  --pcp-orange-hover-color: rgba(235, 127, 22, 1);
  --pcp-dark-color: rgb(51, 51, 51);
  --pcp-gray-color: rgba(238, 238, 238, 1);
  --pcp-secondary-color: #161616;
  --pcp-white-color: #ffffff;
  --pcp-primary-font-family: "Cabin", sans-serif;
  --pcp-secondary-font-family: "bai_jamjureebold";
}
/* font-family: var(--pcp-secondary-font-family); */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
a:focus {
  outline: 0 solid;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
}
p {
  margin: 0 0 10px;
}
p:last-child {
  margin-bottom: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}
.btn-primary {
  display: inline-block;
  width: 252px;
  height: 46px;
  background: rgba(19, 151, 216, 1);
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-family: Arial, sans-serif;
  text-align: center;
  transition: all 0.3s ease 0s;
  line-height: 46px;
}
.py-50 {
  padding: 50px 0;
}
.mt-30 {
  margin-top: 30px;
}
/* Header area */
.header-area {
  padding: 10px 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px 0px;
}
a.btn-primary.mobile-btn {
  display: none;
}
.call-info span {
  font-size: 24px;
  text-align: center;
  line-height: 29px;
}
.call-info a {
  color: rgb(41, 41, 41);
  font-size: 28px;
  text-decoration: underline;
  margin-right: 12px;
}
/* Hero area */
.hero-area {
  position: relative;
  min-height: 780px;
}
.hero-content h2 {
  font-weight: 700;
  font-family: bai_jamjuree_semiboldregular;
  font-size: 42px;
  color: rgb(0, 0, 0);
  line-height: 58px;
}

.hero-content > p {
  font-family: bai_jamjuree_lightregular;
  color: rgb(49, 49, 49);
  font-size: 22px;
  line-height: 32px;
}
.hero-btn .cta-btn {
  margin-left: 0;
  margin-top: 30px;
  width: 360px;
}

.hero-btn p {
  margin-top: 15px;
  font-family: bai_jamjuree_lightregular;
  font-size: 20px;
  color: rgb(62, 62, 100);
}

.hero-btn {
  margin: 30px 0 26px;
  width: 360px;
  text-align: center;
  margin-left: 8px;
}

.hero-btn p a {
  font-size: 24px;
  font-weight: 700;
  color: #3e3e64;
  text-decoration: underline;
}

.hero-btn .cta-btn a {
  width: 360px;
}
.hero-quote {
  position: relative;
}

.hero-quote img {
  position: absolute;
  right: 0;
}

.hero-quote p {
  padding-right: 106px;
  line-height: 31px;
  font-family: bai_jamjuree_lightregular;
  font-size: 20px;
  color: rgb(38, 38, 63);
  font-style: italic;
}
.hero-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: bai_jamjuree_lightregular;
  font-size: 22px;
  color: rgb(96, 96, 104);
  font-style: italic;
  margin-top: 20px;
}
.hero-review h4 {
  margin-bottom: 2px;
}

.hero-review p {
  font-size: 18px;
}

.hero-action {
  text-align: center;
}

.hero-action img {
  margin-bottom: 10px;
}

.hero-action .btn-primary {
  display: block;
  border-style: solid;
  z-index: 89;
  width: 170px;
  height: 44px;
  line-height: 44px;
  background: rgba(19, 151, 216, 0);
  color: #1397d8;
  border-width: 1px;
  border-color: #1397d8;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.hero-img {
  background: rgba(255, 255, 255, 0);
  background-image: url(../Images/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 46%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* service details */
.services-details {
  position: relative;
  padding: 90px 0;
}
.single-services-img {
  background: url(../Images/process1.jpg) no-repeat scroll center center/cover;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.single-services-img.left-auto {
  background: url(../Images/process2.jpg) no-repeat scroll center center/cover;
  right: auto;
  left: 0;
}
.single-services-img2 {
  background: url(../Images/process3.jpg) no-repeat scroll center center/cover;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.single-services-img2.left-auto {
  background: url(../Images/process4.jpg) no-repeat scroll center center/cover;
  right: auto;
  left: 0;
}

.single-services h3 {
  font-family: bai_jamjuree_semiboldregular;
  font-size: 36px;
  color: rgb(78, 78, 78);
  line-height: 38px;
}

.single-services p {
  font-family: bai_jamjuree_lightregular;
  font-size: 22px;
  color: rgb(38, 38, 63);
  line-height: 34px;
}
/* testimonial area */
.testimonial-area {
  position: relative;
  padding: 120px 0 70px;
}
.testimonial-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-testimonial {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(245, 245, 248, 1);
  border-style: none;
  border-radius: 0px;
  z-index: 24;
  max-width: 540px;
  max-height: 360px;
  width: 100%;
  height: 360px;
  padding: 0 32px;
  font-size: 20px;
  font-style: italic;
  color: #26263f;
  font-family: var(--pcp-secondary-font-family);
}
.single-testimonial p {
  color: #26263f;
  font-weight: 400 !important;
  font-family: bai_jamjuree_lightregular;
  line-height: 29px;
}

.single-testimonial h5 {
  color: #26263f;
  font-weight: 400 !important;
  font-family: bai_jamjuree_lightregular;
  line-height: 29px;
  margin: 16px 0;
  font-size: 20px;
}

.testimonial-area.py-50 {
  position: relative;
}

.single-testimonial > img {
  position: absolute;
  right: -12px;
  top: -19px;
}

.testimonial-review p {
  margin-bottom: 0;
  font-size: 16px;
}

/* clean work */
.clean-btn {
  background: rgba(35, 78, 151, 1);
  width: 183px;
  height: 57px;
  position: relative;
  font-family: bai_jamjuree_lightregular;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  top: 25px;
  left: -25px;
}

.clean-btn a {
  background: rgba(19, 151, 216, 1);
  left: 8px;
  top: 9px;
  z-index: 96;
  width: 188px;
  height: 52px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* work process area */
.work-process-area {
  position: relative;
  /* height: 1100px; */
}

.process-img {
  background: url(../Images/home.png) no-repeat scroll center center / cover;
  width: 46%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.process-title h2 {
  font-size: 48px;
  color: #222;
  font-weight: 700;
  margin-bottom: 40px;
  font-family: var(--pcp-secondary-font-family);
}
.process-list {
  display: flex;
  align-items: start;
}

.process-list img {
  margin-right: 15px;
}

.process-list-text h3 {
  font-size: 26px;
  font-weight: 700;
  position: relative;
  margin-bottom: 25px;
}

.process-list-text h3:before {
  content: "";
  border-radius: 135px;
  height: 8px;
  width: 44px;
  position: absolute;
  z-index: 99;
  background: #3e3e64;
  bottom: -10px;
  left: 0px;
}

.process-list-text {
  margin-bottom: 35px;
}

.process-list p {
  line-height: 38px;
  font-family: bai_jamjuree_lightregular;
  font-size: 20px;
  color: rgb(78, 78, 78);
}
/* service-area */
/* .service-area {
  
} */

.single-service h4 {
  font-size: 24px;
  color: rgb(60, 60, 60);
  line-height: 38px;
  font-weight: 700;
  margin-top: 20px;
}

.single-service {
  padding-right: 10px;
}
/* cta area */
.cta-area.py-50 {
  text-align: center;
}

.cta-info a {
  text-align: center;
  margin: 0 auto;
}

.cta-area h2 {
  font-family: bai_jamjuree_lightregular;
  font-size: 48px;
  color: rgb(78, 78, 78);
  font-weight: 700;
  margin-bottom: 35px;
}
.cta-btn {
  background: rgba(35, 78, 151, 1);
  position: relative;
  font-family: bai_jamjuree_lightregular;
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 335px;
  height: 56px;
  margin: 0 auto;
}
.cta-btn a {
  background: rgba(19, 151, 216, 1);
  right: 8px;
  bottom: 9px;
  z-index: 96;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 56px;
  font-size: 18px;
}
.cta-area p {
  margin-top: 15px;
  font-family: bai_jamjuree_lightregular;
  font-size: 20px;
  color: rgb(62, 62, 100);
}

.cta-area p a {
  font-size: 24px;
  font-weight: 700;
  color: #3e3e64;
  text-decoration: underline;
}
footer.footer-area {
  padding: 10px 0;
  position: relative;
}

footer.footer-area p {
  text-align: center;
  font-size: 14px;
  color: #888;
}
/* Roof washing */
.roof-logo img {
  width: 230px;
}

.roof-head-right .call-info span {
  color: rgb(95, 101, 114);
  font-weight: normal;
  font-size: 16px;
}

.roof-head-right .call-info {
  text-align: center;
}

.roof-head-right .call-info a {
  color: rgb(51, 51, 51);
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  text-decoration: none;
  margin-right: 0;
}
.washing-service-content {
  margin-top: 0;
}

.roof-hero-area.washing-hero {
  padding: 95px 0 56px;
  background: url(https://d9hhrg4mnvzow.cloudfront.net/get.procleanplus.co/washing/897b84f7-power-washing-header_1000000…o.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.roof-hero-area.washing-hero:before {
  position: absolute;
  left: 0;
}
.roof-hero-content.washing-hero-content {
  padding-top: 36px;
}
.roof-hero-area:before {
  font-size: 28px;
  color: rgb(255, 255, 255);
  content: "";
  width: 55%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255, 0.9);
  z-index: 0;
}

.roof-hero-content.washing-hero-content {
  z-index: 99;
  position: relative;
}

.roof-hero-content.washing-hero-content p {
  padding-right: 72px;
}
/* roof hero area */
.roof-hero-area.d-flex.align-items-center {
  padding: 95px 0 56px;
  background: url(https://d9hhrg4mnvzow.cloudfront.net/get.procleanplus.co/washing/897b84f7-power-washing-header_100000000000000000001o.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-top: 2px;
}
.roof-hero-content h2 {
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  font-size: 63px;
  color: rgb(51, 51, 51);
  line-height: 1;
}
.roof-hero-content > p {
  font-family: Cabin;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: rgb(25, 25, 25);
  line-height: 32px;
  margin: 40px 0;
}

.hero-list p {
  position: relative;
  font-weight: 500;
  font-family: Cabin;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 13px;
  padding-left: 30px;
}

.hero-list p:before {
  position: absolute;
  left: 0;
  content: "";
  top: 0;
  width: 20px;
  height: 20px;
  /* background: #333; */
  background: url(../Images/roof-washing/list-circle.svg) no-repeat scroll
    center center/cover;
  border-radius: 50%;
}

.hero-list {
  margin-top: 30px;
}
.roof-washing-form {
  background: #f7f7f7f7;
  padding: 20px 30px;
  position: relative;
  z-index: 999;
  max-width: 410px;
  width: 100%;
  margin-left: auto;
}
.roof-washing-form:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: -1;
  transform: rotate(-2deg);
}
.roof-washing-form p {
  font-weight: 600;
  font-family: Cabin;
  font-size: 18px;
  color: rgb(51, 51, 51);
  font-style: normal;
}

.form-group lavel {
  font-family: Cabin;
  font-weight: 700;
  font-size: 29px;
  line-height: 19px;
  color: #000;
}

.roof-washing-form .form-group label {
  font-family: Cabin;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  color: #000;
}

.roof-washing-form .form-group input {
  height: 48px;
  font-size: 15px;
  line-height: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #000;
  border-radius: 0;
}

.roof-washing-form .form-group {
  margin-bottom: 15px;
}

.roof-washing-form .form-group .form-select {
  height: 48px;
  font-size: 15px;
  line-height: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #000;
  border-radius: 0;
}
input.roof-btn {
  display: inline-block;
  border-radius: 0;
  width: 100%;
  height: 66px;
  line-height: 66px;
  background: rgba(247, 147, 29, 1);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: Cabin;
  text-align: center;
  border: transparent;
}
.submitform label {
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: rgb(137, 137, 137);
}
/* show for yourself */
.roof-section-title h2 {
  text-align: center;
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: rgb(0, 0, 0);
}

.single-work.see-it-item img {
  width: 100%;
  height: 300px;
}
.see-it .roof-section-title {
  margin-bottom: 100px;
}

.single-work.see-it-item {
  position: relative;
}

.washing-process .roof-section-title {
  margin-bottom: 60px;
}

.single-washing-process h3 {
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.single-washing-process p {
  font-family: Cabin;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-right: 40px;
  line-height: 29px;
}
.washing-process {
  position: relative;
}
.washing-process:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #194788;
  z-index: -1;
}
.single-washing-process {
  margin-bottom: 60px;
}
.washing-process-content {
  padding: 80px 0px;
}
.roof-section-title {
  margin: 40px 0;
}
.single-washing-img img {
  position: relative;
  z-index: -1;
}

.single-washing-img img:before {
  position: absolute;
  width: 90px;
  height: 91px;
  left: -25px;
  top: -35px;
  background: #333;
  content: "";
  border-radius: 50%;
  z-index: 99;
}
.washing-process-images {
  padding-left: 40px;
  margin-top: 25px;
}
.single-washing-img.second-washing-img {
  margin: 40px 60px 40px;
}

.customers-feedback {
  padding: 90px 0 60px;
}
.customers-feedback .feedback-title {
  margin-bottom: 70px;
}
.feedback-title h2 {
  font-family: Cabin;
  font-weight: 700;
  font-size: 36px;
  color: rgb(0, 0, 0);
}

.feedback-title p {
  font-family: Cabin;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.feedback-title {
  text-align: center;
  margin-bottom: 50px;
}

.single-feedback img {
  width: 333px;
}

.single-feedback.single-right-feedback > img {
  width: auto;
}

.single-customer-feedback {
  margin-top: 40px;
}

.single-customer-feedback p {
  font-family: Cabin;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 29px;
  color: rgb(0, 0, 0);
}

.single-customer-feedback img {
  width: 84px;
}

.single-customer-feedback h5 {
  font-size: 18px;
  color: rgb(51, 51, 51);
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  margin: 10px 0;
}
.customer-review {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  background: url(../Images/roof-washing/customar-review.svg) no-repeat scroll
    center center/cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.customer-review h4 {
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: rgb(255, 255, 255);
  line-height: 0;
}

.customer-review img {
  width: 98px;
  margin: 8px 0px;
}
.customer-content {
  text-align: center;
}
.customer-review p {
  font-size: 14px;
  font-family: Cabin;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  padding: 0 28px;
  line-height: 18px;
}
.customer-content h3 {
  text-align: center;
  font-family: Cabin;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  color: rgb(0, 0, 0);
  margin: 20px 0;
}
a.roof-btn {
  display: inline-block;
  border-radius: 3px;
  width: 364px;
  height: 75px;
  line-height: 75px;
  background: rgba(247, 147, 29, 1);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: Cabin;
  text-align: center;
}
a.roof-btn {
  display: inline-block;
  border-radius: 3px;
  width: 364px;
  height: 75px;
  line-height: 75px;
  background: rgba(247, 147, 29, 1);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: Cabin;
  text-align: center;
}

.customer-help span {
  caret-color: rgb(95, 101, 114);
  font-weight: normal;
  font-size: 16px;
}

.customer-help p a {
  color: rgb(51, 51, 51);
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
}

.customer-help p {
  margin-top: 22px;
}
.single-feedback.single-right-feedback {
  position: relative;
}

.single-feedback.single-right-feedback:before {
  position: absolute;
  left: -23px;
  top: 120px;
  content: "";
  z-index: 52;
  width: 3px;
  height: 625px;
  background: rgba(240, 240, 240, 1);
}
footer.footer-area.roof-washing-footer p {
  font-family: Cabin;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: rgb(136, 136, 136);
}

footer.footer-area.roof-washing-footer {
  background: rgba(238, 238, 238, 1);
  padding: 27px;
}
/* pressure washing */
.roof-hero-content.washing-hero-content p {
  line-height: 32px;
  font-size: 28px;
}
.roof-hero-content.washing-hero-content h2 {
  font-size: 50px;
  padding-right: 30px;
}
/* our work */
.work-title h2 {
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 95px;
}
.our-work-area {
  padding: 50px 0 30px;
}

.single-work {
  margin-bottom: 60px;
  position: relative;
}
.single-work.single-work1 {
  margin-top: 40px;
}
.single-work:before {
  position: absolute;
  content: "Before";
  left: -38px;
  top: -80px;
  width: 140px;
  height: 140px;
  /* background: #000; */
  background: url(../Images/our-work/our-works-before-after.svg) no-repeat
    scroll center center/cover;
  font-weight: 400;
  font-family: "Luckiest Guy";
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-style: normal;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.single-work.single-work2:before {
  content: "After";
}
.row.double-img .single-work.single-work2 {
  margin-top: 110px;
  margin-bottom: 0;
}
.out-work-btn.text-center {
  background: url(../Images/our-work/our-work-btn-bg.svg) no-repeat scroll
    center center/cover;
  padding: 55px;
  margin: 35px 0 0;
}
/* Our Power Washing Services */
.customers-feedback.washing-service-feedback .single-customer-feedback {
  margin-top: 40px;
}
.customers-feedback.washing-service-feedback .feedback-title {
  margin-bottom: 60px;
}
.customers-feedback.washing-service-feedback .feedback-title h2 {
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: rgb(0, 0, 0);
}
.washing-service-images .single-washing-img.second-washing-img {
  margin: 40px 60px 40px;
}
.washing-service-images {
  padding: 20px 0;
  padding-left: 40px;
}
.single-washing-service h3 {
  font-family: Cabin;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.washing-service-content .single-washing-service p {
  font-family: Cabin;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 29px;
  padding-right: 40px;
}

.washing-service-content .single-washing-service {
  margin-bottom: 70px;
}
.washing-service-images .single-washing-img img {
  max-width: 375px;
  max-height: 240px;
  height: 240px;
  width: 375px;
}
.single-washing-img {
  position: relative;
  max-width: 375px;
  max-height: 240px;
  height: 240px;
  width: 375px;
}
.single-washing-img:before {
  position: absolute;
  left: -35px;
  content: "";
  top: -25px;
  width: 90px;
  height: 90px;
  /* background: #333; */
  background: url(../Images/our-work/our-works-before-after.svg) no-repeat
    scroll center center/cover;
  border-radius: 50%;
}

.single-washing-img:after {
  position: absolute;
  right: -35px;
  content: "";
  bottom: -25px;
  width: 90px;
  height: 90px;
  /* background: #333; */
  background: url(../Images/our-work/our-works-before-after.svg) no-repeat
    scroll center center/cover;
  border-radius: 50%;
}
/* Responsive */

@media (min-width: 1200px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  header.header-area img {
    width: 218px;
  }
  .hero-area {
    min-height: 680px;
  }
  .call-info a {
    color: rgb(41, 41, 41);
    font-size: 22px;
  }
  .call-info span {
    font-size: 20px;
    text-align: center;
    line-height: 27px;
  }
  .hero-content h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .hero-content > p {
    font-family: bai_jamjuree_lightregular;
    color: rgb(49, 49, 49);
    font-size: 20px;
    line-height: 30px;
  }
  .hero-btn {
    margin: 0 0 20px;
    margin-left: 8px;
  }
  .hero-btn p a {
    font-size: 20px;
  }
  .hero-btn p {
    font-size: 18px;
  }

  .cta-btn a {
    width: 320px;
    font-size: 16px;
  }
  .hero-btn .cta-btn {
    margin-left: 0;
    margin-top: 30px;
    width: 320px;
  }
  .hero-quote img {
    width: 70px;
  }
  .hero-quote p {
    padding-right: 60px;
    line-height: 29px;
    font-size: 18px;
  }
  .hero-review h4,
  .hero-review p {
    font-size: 14px;
  }
  .single-service {
    display: flex;
    align-items: center;
  }
  .single-service h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .services-details {
    padding: 40px 0;
  }
  .single-services h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .single-services h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .single-services p {
    font-size: 20px;
    line-height: 32px;
  }
  .single-testimonial {
    padding: 0 20px;
    font-size: 18px;
  }
  .single-testimonial h5 {
    margin: 0;
    font-size: 18px;
  }
  .clean-btn {
    top: 25px;
    right: 14px;
    margin-left: auto;
  }
  .process-title h2 br {
    display: none;
    font-size: 33px;
  }
  .process-list-text h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .process-list p {
    line-height: 29px;
    font-size: 18px;
  }
  .process-list-text {
    margin-bottom: 18px;
  }
  .cta-area h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  footer.footer-area img {
    margin-bottom: 12px;
  }

  footer.footer-area {
    text-align: center;
  }

  /* Roof washing */
  .roof-hero-content h2 {
    font-size: 38px;
  }
  .roof-head-right img {
    width: 54px !important;
  }
  .roof-logo img {
    width: 235px !important;
  }
  .customers-feedback .single-customer-feedback img {
    width: 90px;
  }
  .roof-hero-area.d-flex.align-items-center {
    padding: 60px 0 35px;
  }
  .roof-washing-form .roof-washing-form .form-group {
    margin-bottom: 10px;
  }
  input.roof-btn {
    height: 54px;
    line-height: 54px;
    font-size: 20px;
  }
  .single-washing-img.second-washing-img {
    margin: 65px 0px 0;
  }
  .roof-hero-content > p {
    font-size: 17px;
    margin: 16px 0;
    line-height: 27px;
  }
  .hero-list p {
    font-size: 16px;
  }

  .hero-list p {
    font-size: 18px;
  }

  .roof-washing-form p {
    font-size: 13px;
    line-height: 21px;
    padding-top: 12px;
  }
  .washing-service-content {
    margin-top: 60px;
  }
  .washing-process-images .single-washing-img.second-washing-img {
    margin: 30px 28px 0;
  }

  .washing-process-images .single-washing-img {
    position: relative;
    max-width: 270px;
    max-height: 210px;
    height: 210px;
    width: 270px;
  }
  .washing-process-images .single-washing-img:before {
    left: -24px;
    top: -25px;
    width: 60px;
    height: 60px;
  }
  .washing-process-images .single-washing-img:after {
    right: -35px;
    content: "";
    bottom: 6px;
    width: 60px;
    height: 60px;
  }
  .clean-work .single-work:before {
    left: -10px;
    top: -50px;
    width: 90px;
    height: 90px;
    font-size: 20px;
  }
  .see-it .roof-section-title {
    margin: 0px 0 70px;
  }
  .roof-section-title h2 {
    font-size: 30px;
    margin-bottom: 32px;
  }
  .clean-work.see-it.py-50 .single-work {
    margin-bottom: 0px;
  }
  .clean-work.see-it.py-50 {
    padding: 30px 0;
  }
  .roof-section-title {
    margin-bottom: 15px;
  }
  .washing-process-images {
    padding-left: 20px;
  }
  .washing-process .single-washing-process h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .washing-process .washing-process-content {
    padding: 30px 0px;
  }
  .washing-process .single-washing-process {
    margin-bottom: 35px;
  }
  .washing-process .single-washing-process p {
    padding-right: 0;
    font-size: 16px;
  }
  .feedback-title h2 {
    font-size: 25px;
  }
  .feedback-title p {
    font-size: 22px;
  }
  .single-feedback img {
    width: 280px;
  }
  .customers-feedback .feedback-title {
    margin-bottom: 50px;
  }
  /* power washing service page */
  .roof-hero-content.washing-hero-content h2 {
    font-size: 28px;
    padding-right: 18px;
  }
  .roof-hero-content.washing-hero-content p {
    line-height: 27px;
    font-size: 18px;
  }
  .washing-hero-form.roof-washing-form .form-group {
    margin-bottom: 10px;
  }
  .our-work-area .single-work:before {
    left: -38px;
    top: -46px;
    width: 80px;
    height: 80px;
    font-size: 20px;
  }
  .our-work-area .single-work {
    margin-bottom: 40px;
  }
  .washing-service-feedback .customer-content h3 {
    font-size: 25px;
  }
  .washing-service-images .single-washing-img img {
    max-width: 375px;
    max-height: 240px;
    height: 240px;
    width: 100%;
  }
  .single-washing-img.first-washing-img .single-washing-img {
    width: 100%;
  }
  .washing-service-images .single-washing-img.second-washing-img {
    margin: 40px 60px 40px;
    margin-left: 0;
  }
  .washing-service-content .single-washing-service {
    margin-bottom: 30px;
  }
  .single-washing-service h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .customers-feedback.washing-service-feedback .feedback-title h2 br {
    display: none;
  }

  .customers-feedback.washing-service-feedback .feedback-title h2 {
    font-family: Cabin;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    color: rgb(0, 0, 0);
  }
  .single-customer-feedback p {
    font-size: 16px;
    line-height: 28px;
  }
  .customers-feedback.washing-service-feedback .single-customer-feedback {
    margin-top: 30px;
  }
  .roof-washing-form {
    padding: 0 20px;
  }
  .washing-process.power-washing-service .single-washing-img {
    width: 100%;
  }
  .single-feedback.single-right-feedback:before {
    left: -12px;
  }
  .roof-hero-content.washing-hero-content {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 575px) {
  .roof-hero-content.washing-hero-content {
    padding-top: 0px;
  }
  a.btn-primary.desktop-btn {
    display: none;
  }
  a.btn-primary.mobile-btn {
    display: block;
    width: 100%;
    font-weight: 700;
  }
  p.call-info.m-0.align-self-end {
    display: none;
  }
  .hero-area {
    position: static;
    min-height: auto;
    padding-top: 10px;
  }
  .hero-img {
    width: 100%;
    height: 250px;
    position: static;
  }
  .hero-area .row {
    flex-direction: column-reverse;
  }
  .hero-review h4 {
    margin-bottom: 2px;
    font-size: 18px;
  }
  .hero-review p {
    font-size: 16px;
  }
  .hero-action img {
    margin-bottom: 4px;
  }
  .hero-btn {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .hero-content h2 {
    font-size: 28px;
    line-height: 32px;
    margin-top: 15px;
  }
  .services-details {
    position: static;
    padding: 20px 0;
  }
  .single-services-img {
    width: 100%;
    height: 300px;
    position: static;
    margin-top: 20px;
  }
  .single-services h3 {
    font-size: 28px;
    line-height: 34px;
  }
  .single-services.ps-4 {
    padding-left: 0 !important;
    margin-top: 20px;
  }
  .single-services-img2 {
    width: 100%;
    height: 300px;
    position: static;
    margin-top: 20px;
  }
  .single-services p {
    font-size: 20px;
    line-height: 30px;
  }
  .single-testimonial {
    width: 100%;
    padding: 40px 20px 0;
    font-size: 18px;
    max-height: 370px;
    height: 370px;
    margin-bottom: 20px;
  }
  .single-service img {
    margin-right: 15px;
  }
  .single-service h4 {
    font-size: 24px;
    line-height: 32px;
  }
  .single-service {
    padding: 0 6px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .single-testimonial > img {
    position: absolute;
    right: 50%;
    top: -26px;
    transform: translateX(50%);
  }
  .single-testimonial h5 {
    font-size: 18px;
    margin: 0;
  }
  .clean-btn {
    top: 25px;
    right: 14px;
    margin-left: auto;
  }
  .single-clean-work {
    padding: 0 20px;
  }
  .testimonial-area {
    position: relative;
    padding: 100px 0 20px;
  }
  .single-clean-work img {
    height: 400px;
    width: 100%;
  }
  .section-title.py-50 {
    padding-top: 20px;
  }
  .process-list-text h3 {
    font-size: 22px;

    margin-bottom: 22px;
  }
  .process-list p {
    line-height: 28px;
    font-size: 18px;
  }
  .process-img {
    display: none;
  }
  .process-title h2 br {
    display: none;
  }

  .process-title h2 {
    font-size: 28px;
  }

  .cta-area h2 {
    font-size: 30px;
    margin-bottom: 27px;
  }
  .cta-btn {
    width: 300px;
    height: 50px;
    margin: 0 auto;
  }
  .cta-btn a {
    width: 300px;
    height: 50px;
    font-size: 16px;
    margin: 0 auto;
  }
  footer.footer-area img {
    margin-bottom: 15px;
    width: 200px;
  }

  footer.footer-area {
    text-align: center;
  }
  /* Roof washing */
  .roof-head-right img {
    display: none;
  }
  .roof-hero-area.d-flex.align-items-center {
    padding: 40px 0 15px;
    background: #fff;
    margin-top: 2px;
  }
  .roof-hero-content h2 {
    font-size: 40px;
  }
  .roof-hero-content > p {
    font-size: 23px;
    margin: 20px 0;
  }

  .hero-list p:before {
    top: 3px;
  }

  .roof-washing-form {
    background: #fff;
  }

  .roof-washing-form p {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .clean-work.see-it.py-50 {
    padding: 0px 0;
  }

  .clean-work .single-work:before {
    left: -10px;
    top: -45px;
    width: 75px;
    height: 75px;
    font-size: 18px;
  }
  .clean-work.see-it.py-50 .single-work {
    padding-left: 8px;
  }
  .single-work.single-work2 {
    margin-top: -90px;
    margin-left: 119px;
    margin-bottom: 0;
  }
  .clean-work .single-work img {
    width: 230px;
  }
  .single-work.single-work2:before {
    content: "After";
    right: 22px !important;
  }
  .see-it .roof-section-title {
    margin: 5px 0 50px;
  }
  .customers-feedback .feedback-title {
    margin-bottom: 45px;
  }
  .roof-section-title h2 {
    font-size: 28px;
  }
  .washing-process:before {
    width: 100%;
  }
  .single-washing-process p {
    font-size: 18px;
    padding-right: 0;
    line-height: 28px;
  }
  .single-washing-process h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .single-washing-process {
    margin-bottom: 30px;
  }
  .washing-process-content {
    padding: 80px 0px 20px;
  }

  .washing-process-images .single-washing-img {
    width: 100%;
    margin: 0 auto;
  }
  .single-washing-img.first-washing-img {
    margin-bottom: 45px;
  }
  .washing-process {
    position: relative;
    padding-bottom: 60px;
  }
  .washing-process-images {
    padding-left: 0;
    margin-top: 0;
    padding: 0 25px;
  }
  .washing-process-images .single-washing-img:before {
    left: -30px;
    content: "";
    top: -25px;
    width: 65px;
    height: 65px;
  }

  .washing-process-images .single-washing-img:after {
    position: absolute;
    right: -30px;
    content: "";
    bottom: -25px;
    width: 65px;
    height: 65px;
  }
  .customers-feedback {
    padding: 50px 0 35px;
  }
  .customers-feedback .single-customer-feedback img {
    width: 90px;
  }
  .feedback-title h2 {
    font-size: 28px;
    padding: 0 25px;
  }
  .feedback-title p {
    font-size: 18px;
  }
  .single-customer-feedback {
    margin-top: 30px;
  }
  .single-feedback img {
    width: 240px;
  }
  .single-feedback.single-right-feedback {
    margin-top: 40px;
  }
  .customer-review {
    width: 200px;
    height: 200px;
  }
  .customer-content h3 br {
    display: none;
  }
  .customer-content h3 {
    font-size: 26px;
    margin: 10px 0 15px;
  }
  .customer-help p a {
    font-size: 18px;
  }
  a.roof-btn {
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
  }
  .customer-review h4 {
    font-size: 28px;
  }
  .customer-review img {
    width: 98px;
    margin: 4px 0px;
  }
  .customer-review p {
    font-size: 12px;
    padding: 0px 27px;
    line-height: 18px;
  }
  .customer-help p {
    margin-top: 6px;
  }
  /* power washing page */
  .our-work-area {
    padding: 20px 0 20px;
  }
  .our-work-area .single-work.single-work2 {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  .row.double-img .single-work img {
    height: 215px;
  }
  .washing-service-images .single-washing-img.second-washing-img {
    margin: 40px 60px 40px;
    margin-left: 0;
  }
  .washing-service-images {
    padding-left: 0;
  }
  .customers-feedback.washing-service-feedback .feedback-title h2 br {
    display: none;
  }

  .customers-feedback.washing-service-feedback .feedback-title h2 {
    font-size: 32px;
    padding: 0;
  }
  .washing-service-content .washing-service-content {
    padding-top: 40px;
  }
  .washing-service-content .single-washing-service h3 {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .washing-service-content .single-washing-service p {
    font-size: 16px;
    line-height: 26px;
    padding-right: 10px;
  }
  .washing-service-content .single-washing-service {
    margin-bottom: 30px;
  }
  .our-work-area .single-work.single-work2 {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  .our-work-area .single-work:before {
    left: -10px;
    top: -42px;
    width: 85px;
    height: 85px;
    font-size: 18px;
  }
  .customers-feedback.washing-service-feedback .feedback-title h2 br {
    display: none;
  }

  .washing-service-content {
    padding-top: 40px;
  }

  .row.double-img .single-work img {
    height: 240px;
  }

  .row.double-img .single-work {
    margin: 0;
  }

  .row.double-img .col-md-6 {
    width: 50%;
  }

  .row.double-img {
    margin-top: 50px;
  }
  .washing-service-images .single-washing-img:before {
    left: -15px;
    top: -25px;
    width: 60px;
    height: 60px;
  }
  .washing-service-images .single-washing-img:after {
    right: -15px;
    bottom: -25px;
    width: 60px;
    height: 60px;
  }
  .roof-hero-content.washing-hero-content h2 {
    font-size: 32px;
    padding-right: 0;
  }
  .roof-hero-content.washing-hero-content p {
    line-height: 30px;
    font-size: 20px;
    margin-top: 0;
  }
  input.roof-btn {
    font-size: 18px;
    width: 100%;
    height: 52px;
    line-height: 52px;
  }
  .roof-washing-form .form-group {
    margin-bottom: 10px;
  }
  .roof-washing-form.washing-hero-form .roof-washing-form p {
    font-size: 19px;
    margin-bottom: 20px;
  }
  .work-title h2 {
    margin-bottom: 20px;
  }
  .our-work-area {
    padding: 10px 0 30px;
  }
  .work-title h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .row.double-img .single-work.single-work2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .roof-hero-area.washing-hero:before {
    width: 100%;
  }
}
